*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --primary-color:#E3F6FC;
    --secondary-color:#6588DE;
    --text-color:#52585D;
    --text-color-light:#96A9BA;
    --busy:#FF9B26;
    --offline:#FF4D4D;
    --online:#00C853;
}
#root{
    display: flex;
    position: relative;
    width: 100vw;
    overflow: hidden;
}