.context-menu{
    position: absolute;
    flex-direction: column;
    width: 200px;
    display: flex;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 0 3px var(--secondary-color);
    z-index: 1;
    span{
        border-radius: 10px;
        color: var(--secondary-color);
        padding: 8px;
        cursor: pointer;
        &:hover{
            color: black;
            background-color: var(--secondary-color);
        }
    }

}