.left-sidebar {
  gap: 8px;
  width: 37px;
  left: 0;
  .sidebar-header,
  .sidebar-content {
    background-color: var(--primary-color);
    padding: 16px 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .sidebar-content {
    height: calc(100% - 142px);
    overflow-y: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .sidebar-header {
    .sidebar-header-profile {
      display: flex;
      gap: 8px;
      padding-inline: 12px;

      .sidebar-header-profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        
        .sidebar-header-profile-name {
          font-size: 14px;
          color: var(--text-color);
        }
        .sidebar-header-profile-message {
          text-overflow: ellipsis;
          font-weight: 100;
          white-space: nowrap;
          max-width: 100%;
          width: 100%;
          font-size: 10px;
          color: var(--text-color-light);
          overflow: hidden;
        }
      }
      .sidebar-header-profile-avatar {
        height: 40px;
        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          object-fit: cover;
          border: 2px solid transparent;
        }
      }
    }
    
  }
  .sidebar-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgb(128, 128, 128, 0.2);
    background-color: var(--primary-color);
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    svg {
      cursor: pointer;
      border-bottom: 2px solid transparent;
    }
    .active {
      path {
        fill: var(--secondary-color);
      }
    }
  }
}
