.left-sidebar {
  gap: 8px;
  width: 37px;
  left: 0;
  .sidebar-header,
  .sidebar-content {
    background-color: var(--primary-color);
    padding: 16px 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .sidebar-content {
    height: calc(100% - 142px);
    overflow-y: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    input{
      background-color: transparent;
      outline: none;
      border: none;
      padding: 8px 12px;
      border-radius: 10px;
      box-shadow: 0 0 1px rgb(0 0 0 / 50%);
    }
  }
  .sidebar-header {
    .sidebar-header-profile {
      display: flex;
      gap: 8px;
      padding-inline: 12px;

      .sidebar-header-profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        
        .sidebar-header-profile-name {
          font-size: 14px;
          color: var(--text-color);
        }
        .sidebar-header-profile-message {
          text-overflow: ellipsis;
          font-weight: 100;
          white-space: nowrap;
          max-width: 100%;
          width: 100%;
          font-size: 10px;
          color: var(--text-color-light);
          overflow: hidden;
        }
      }
      .switch-account{
        display: flex;
        align-items: center;
        margin-left: auto;
        position: relative;
        .switch-acount-dropdown{
          display: flex;
          flex-direction: column;
          gap: 8px;
          position: absolute;
          padding-block: 8px;
          top:100%;
          z-index: 9;
          background-color: var(--primary-color);
          box-shadow: 0 0 3px black;
          .switch-acount-dropdown-item{
            width: 200px;
            cursor: pointer;
            padding: 4px 8px;
            &:hover{
              background-color: var(--secondary-color);
              color: white;
            }
          }
        }
        img{
          cursor: pointer;
        }
      }
      .sidebar-header-profile-avatar {
        height: 40px;
        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          object-fit: cover;
          border: 2px solid transparent;
        }
      }
    }
    
  }
  .sidebar-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgb(128, 128, 128, 0.2);
    background-color: var(--primary-color);
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    svg {
      cursor: pointer;
      border-bottom: 2px solid transparent;
    }
    .active {
      path {
        fill: var(--secondary-color);
      }
    }
  }
}
@media (max-width: 1024px){
  .left-sidebar .sidebar-header .sidebar-header-profile .sidebar-header-profile-info .sidebar-header-profile-name{
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  
  .left-sidebar {
    width:fit-content !important;
    .switch-account{
      display: none !important;
    }
    .sidebar-header {
      .sidebar-header-profile {
        .sidebar-header-profile-info{
          display: none;
        }
      }
    }
    
    .sidebar-nav{
      flex-wrap: wrap;
      height: 70px;
      justify-content: center;
      span{
        width: 45%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
@media (max-width: 425px) {
  .left-sidebar {
    .sidebar-nav{
      height: fit-content;
      gap: 8px;
      padding-block: 8px;
      span{
        width: 100%;
      }
    }
  }
}
  

