.friends-list {
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 8px;
  .friends-list-header,
  .friends-list-content {
    background-color: var(--primary-color);
    padding: 8px;
    border-radius: 10px;
  }
}
