.user-item {
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 12px;
  box-shadow: 0 0 1px rgb(0, 0, 0, 0.2);
  overflow: hidden;
  min-height: 64px;
  justify-content: space-between;
  &:hover {
    background-color: var(--secondary-color);
    transition: transform 200ms ease-in-out;
    transform: translateX(2px);
    box-shadow: 0px 8px 40px rgba(0, 72, 251, 0.3);
    cursor: pointer;
    .user-item-info {
      .user-item-name {
        color: #fdfdfe !important;
      }
      .user-item-message {
        color: #fdfdfe !important;
      }
    }
  }
  .user-item-group {
    display: flex;
    gap: 12px;
    width: 70%;
    .user-item-avatar {
      height: 40px;
      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid transparent;
      }
    }
    .user-item-info {
      display: flex;
      flex-direction: column;
      width: calc(100% - 52px);
      gap: 6px;
      .user-item-name {
        font-size: 14px;
        color: var(--text-color);
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .user-item-message {
        text-overflow: ellipsis;
        font-weight: 100;
        white-space: nowrap;
        max-width: 100%;
        width: 100%;
        font-size: 10px;
        color: var(--text-color-light);
        overflow: hidden;
      }
    }
  }
  .user-item-extra {
    width: 25%;
    display: flex;
    gap: 6px;
    height: 100%;
    position: relative;
    flex-direction: column;
    padding-top: 5px;
    align-items: flex-end;
    > span {
      color: var(--text-color);
      font-size: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .user-item-status {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: block;
      position: relative;
    }
  }
}

.user-time-active {
  background-color: var(--secondary-color);
  transition: transform 200ms ease-in-out;
  transform: translateX(2px);
  box-shadow: 0px 8px 40px rgba(0, 72, 251, 0.3);
  cursor: pointer;
  .user-item-info {
    .user-item-name {
      color: #fdfdfe !important;
    }
    .user-item-message {
      color: #fdfdfe !important;
    }
  }
}
@media (max-width: 1024px) {
  .user-item {
    padding: 4px;
    .user-item-group {
      width: 100%;
      gap: 8px;
      .user-item-avatar{
        margin-inline: auto;
      }
      .user-item-info{
        width: calc(100% - 40px);
        .user-item-name{
          font-size: 12px;
        }
      }
    }
    .user-item-extra {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .user-item {
    justify-content: center;
    .user-item-group {
      .user-item-info {
        display: none;
      }
    }
    
  }
}
@media (max-width: 425px){
  .user-item{
    min-height: 48px;
    .user-item-group{
      .user-item-avatar{
        height: 35px;
        img{
          height: 35px;
          width: 35px;
          object-fit: fill;
        }
      }
    }
  }
}
