.main-container {
  min-width: 60vw;
  max-width: 80vw;
  width: auto;
  color: white;
  transition: width 400ms ease-in-out;
  padding-inline: 16px;
  .conversation {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
}
